@charset "utf-8";

body, th, td {
	font-family: "Segoe UI", Arial, Tahoma;
	font-size: 13px;
	color: #333;
	margin: 0px;
}

body {background: #F1F1F1;}

a:link, a:visited {color: #006c69; text-decoration: none;}

a:hover {color: #006c69; text-decoration: underline;}

img {border: none;}

input, textarea {
	font-family: "Segoe UI", Arial, Tahoma;
	font-size: 13px;
	color: #333;
}

.tip {padding: 3px 5px; background: #ffeccd; border-top: solid 1px #dd9854; border-bottom: solid 1px #dd9854;}

.logout {text-align: right; padding-right: 15px;}

.logout a {color: #333;}

.pathway {padding: 8px 5px; background: #FFC;}

.pathway a:link, .pathway a:visited {color: #333; text-decoration: none;}

.pathway a:hover {color: #333; text-decoration: underline;}

.paging {background: url(images/boxheader.gif); border: solid 1px #CCC; height: 28px;}

.question {font-size: 15px; font-weight: bold; padding: 0px 20px; margin-top: 15px;; line-height: 1.5em;}

.questiondesc {padding: 0px 20px; margin-top: 8px; line-height: 1.5em;}

.green {background: url(images/button-green.jpg); padding: 5px 15px; border: solid 1px #19990c; color: #FFF; font-weight: bold;}

.center {text-align: center;}

.spacer {clear: both;}

.questionBg {background: #006c67; color: #FFF; font-size: 16px; font-weight: bold; border: solid 1px #22413a; text-align: center; margin-bottom: 20px;}

.questionBg li {list-style: none;}

.questionBg a:link, .questionBg a:visited {display: block; background: #006c67; color: #FFF; padding: 10px 20px;}

.questionBg a:hover, .questionBg a:active {display: block; background: #5a8987; color: #FFF; padding: 10px 20px; text-decoration: none;}

.mediacontainer {margin-bottom: 20px;}

.media {background: #333;}

.questionBgGrey {background: #8a9e99; color: #FFF; font-size: 16px; font-weight: bold; text-align: center;}

.questionBgGrey a:link, .questionBgGrey a:visited {display: block; background: #8a9e99; color: #FFF; padding: 10px 20px;}

.questionBgGrey a:hover, .questionBgGrey a:active {display: block; background: #5a8987; color: #FFF; padding: 10px 20px; text-decoration: none;}

.box-header {background: url(images/boxheader.gif); border: solid 1px #CCC; height: 32px; padding: 5px; font-size: 15px; font-weight: bold;}

.box-content {border-collapse: collapse;}

.box-content th {background: url(images/boxheader.gif); border: solid 1px #CCC; border-top: none; padding: 8px; font-weight: bold;}

.box-content .rowname {background: #E6E6E6;}

.box-content td {padding: 8px; vertical-align: top; background: #FFF;}

.box-content td td {padding: 0px; vertical-align: top;}