<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit-1.0.10301.0" version="1.0.10301.0" targetFramework="net451" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net451" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net451" />
  <package id="Npgsql" version="3.1.3" targetFramework="net45" />
</packages>